@import 'typography';
@import 'github-gist';
@import 'waiting';
.menu,
.navbar {
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
}
.menu {
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  padding: 1.2777778rem 0;
}
.navbar a {
  display: block;
  font-size: 1.6111111rem;
  line-height: 2.5555556rem;
}
a {
  color: #0086b3;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #df5000;
}
a.active,
a.active:hover {
  color: #63a35c;
  cursor: unset;
}
a.inactive,
a.inactive:hover {
  color: #aaaaaa;
  cursor: unset;
}
p {
  line-height: 1.618rem;
}
p code {
  background-color: #a71d5d2c;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}
nav.collapsed a {
  line-height: 0%;
  opacity: 0;
}
nav a {
  transition: line-height 0.5s ease-in-out, opacity 0.7s ease-in-out 0.3s;
}
.collapsed a {
  transition: line-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out;
}
.hidden {
  display: none;
  // height: 0px;
  // transition: height 2s ease-in-out;
}
