//
// Typography reset
// Based on https://www.gridlover.net
//

html,
.root {
  font-size: 18px;
  line-height: 23px;
}
body,
.article {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2777778rem;
  max-width: 1200px;
  margin: auto;
}
.title {
  color: #795da3;
  text-decoration: underline;
}
// h1,
// .h1 {
//   font-size: 4.2222222rem;
//   line-height: 5.1111111rem;
//   margin-top: 1.2777778rem;
//   margin-bottom: 2.5555556rem;
// }
h1,
.h1 {
  color: #0086b3;
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  margin-top: 1.2777778rem;
  margin-bottom: 1.2777778rem;
}
h2,
.h2 {
  color: #63a35c;
  font-size: 1.6111111rem;
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem;
}
h3,
h4,
.h3,
.h4 {
  color: #795da3;
  font-size: 1.3777778rem;
  line-height: 2.185rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.2777778rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
// code,
small {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
