html,
.root {
  font-size: 18px;
  line-height: 23px; }

body,
.article {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2777778rem;
  max-width: 1200px;
  margin: auto;
  padding: 0 2%; }

.title {
  color: #795da3;
  text-decoration: underline; }

h1,
.h1 {
  color: #0086b3;
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  margin-top: 1.2777778rem;
  margin-bottom: 1.2777778rem; }

h2,
.h2 {
  color: #63a35c;
  font-size: 1.6111111rem;
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem; }

h3,
h4,
.h3,
.h4 {
  color: #795da3;
  font-size: 1.3777778rem;
  line-height: 2.185rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.2777778rem; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem; }

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0; }

a,
b,
i,
strong,
em,
small {
  line-height: 0; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto; }

.hljs-comment,
.hljs-meta {
  color: #55a532; }

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d; }

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3; }

.hljs-section,
.hljs-name {
  color: #63a35c; }

.hljs-tag {
  color: #333333; }

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3; }

.hljs-addition {
  color: #55a532;
  background-color: #eaffea; }

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.hljs-link {
  text-decoration: underline; }

.sk-folding-cube {
  margin: 100px auto;
  width: 120px;
  height: 60px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  opacity: 0.6;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #795da3;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  background-color: #0086b3;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  background-color: #df5000;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  background-color: #63a35c;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.menu,
.navbar {
  max-width: 1200px;
  overflow: hidden;
  width: 100%; }

.menu {
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  padding: 1.2777778rem 0; }

.navbar a {
  display: block;
  font-size: 1.6111111rem;
  line-height: 2.5555556rem; }

a {
  color: #0086b3;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  color: #df5000; }

a.active,
a.active:hover {
  color: #63a35c;
  cursor: unset; }

a.inactive,
a.inactive:hover {
  color: #aaaaaa;
  cursor: unset; }

p {
  line-height: 1.618rem; }

p code {
  background-color: #a71d5d2c;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem; }

nav.collapsed a {
  line-height: 0%;
  opacity: 0; }

nav a {
  -webkit-transition: line-height 0.5s ease-in-out, opacity 0.7s ease-in-out 0.3s;
  transition: line-height 0.5s ease-in-out, opacity 0.7s ease-in-out 0.3s; }

.collapsed a {
  -webkit-transition: line-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out;
  transition: line-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out; }

.hidden {
  display: none; }
